{% extends "userPosts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}

<!-- This page logs the user in using Django's built in Log-in system. This way Django handles all the hassle of logging in and logging out. It gets called in urls.py as ' auth_views.LoginView.as_view' -->